:root {
    --fc-border-color: #2c2e33; /* TODO should be #e9ecef for light theme */
}

.mantine-Modal-body {
    height: calc(100% - 54px);
}

.fc-event-main {
    cursor: pointer;
}

section[role=dialog] {
    overflow: visible;
}

.mantine-Modal-header {
    border-radius: 0.5rem;
}
